.b-advantages{
	.centered();

	&__inner{
		.inner();
	}

	&__title{
		.title();
	}

	&__list{
		display: flex;
		justify-content: space-between;
	}

	&__item{
		flex-basis: 200px;
		font-size: @font-size--h4;
		text-align: center;
		padding: 0;
		margin: 0;
		margin-bottom: 6rem;

		&-text{
			margin-top: 4rem;
			display: inline-block;
            color: #828282;
		}

		&-pic{
			width: 8rem;
			height: 8rem;
			margin: 0 auto;

			img{
				// border-radius: 50%;
			}
		}
	}

	&__detail{
		text-align: center;
		color: #089bd9;
		font-size: @font-size--h3;
		text-decoration: none;
        margin-top: 45px;
        display: inline-block;
	}
}
