section.b-advantages
	.b-advantages__inner
		.b-advantages__title Преимущества работы с ЗАО «НПО Энергоатоминвент»
		ul.b-advantages__list
			for item in instance.advantagesitem_set.all
				li.b-advantages__item 
					.b-advantages__item-pic
						img(src="http://placehold.it/80")
					span.b-advantages__item-text Лучшие отраслевые практики в области атомной электроэнергетики
				

		
		a.b-advantages__detail(href="#") Подробнее ››