.b-call-to-us{
    .centered();
    padding: 30px 70px;
    text-align: center;
    color: @light;
    // background-image: url("./call-to-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 959px){
        padding: 10px 20px;
    }

	&__inner{
        .inner();
        max-width: 790px;
	}

	&__title{
        .title();
        padding: 0 !important;
        color: @light;
        margin: 0;
        line-height: 2;
    }

	&__text{
        margin: 0;
    }

    &__form{
        margin-top: 45px;

        &-item{
            font-size: 22px;
            padding: 10px 25px !important;
            height: auto !important;

            &-send{
                border-radius: 0px !important;
                background-color: @accentButton !important;
                color: @light !important;
                border: none;
                transition: .235s ease-in;
                text-transform: uppercase;
                font-size: 20px !important;
                font-weight: 200;

                &:hover{
                    background-color: darken(@accentButton, 10%) !important;
                    transition: .235s ease-in;
                }
            }

            input::placeholder{
                color: #9D9D9D;
            }
        }
    }
}
