- load thumbnail

.b-call-to-us(style="background-image: url({% thumbnail instance.image 1920x500 crop %})")
        .b-call-to-us__inner
            .b-call-to-us__title=instance.title
            .b-call-to-us__text=instance.description

            .b-call-to-us__form
                .row
                    .form-group.col-xs-12.col-md-4
                        input.b-call-to-us__form-item.form-control(
                            type="text"
                            placeholder="Email"
                        )

                    .form-group.col-xs-12.col-md-4
                        input.b-call-to-us__form-item.form-control(
                            type="text"
                            placeholder="Имя"
                        )

                    .form-group.col-xs-12.col-md-4
                        input.b-call-to-us__form-item.b-call-to-us__form-item-send.form-control(
                            type="submit"
                            value="Связаться"
                        )
