.b-block {

	&__inner {
		.inner();
	}

	&__title {
		.title();
    }

    img{
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
    }

    @media(max-width: @screen-md){
        .column{
            width: 100% !important;
            margin-bottom: 15px;

            .container-fluid{
                margin: 0;
            }
        }
    }
}
