.b-about{
	.centered();
    text-align: left !important;
    background-image: url('/static/img/about.jpg');
    background-size: cover;
    background-position: center left;

    @media(max-width: 1239px){
        background-position: center right;
    }

    @media(max-width: 959px){
        text-align: center !important;
	}

	&__inner{
		.inner();
		// max-width: 980px !important;
	}

	&__carousel{
		padding-top: 15rem;
		background-color: @lightmuted;
		padding-bottom: 0;
	}

	&__history{
		padding-top: 0 !important;
	}

	&__title{
		.title();
		margin-top: 0 !important;
		padding-bottom: 0 !important;
        text-align: left !important;

        @media(max-width: 959px){
            text-align: center !important;
	    }
	}

	&__text{
		line-height: 1.75;
		font-size: @font-size--h3;
		color: @darkest;
        display: block;
        text-align: left;
        padding-top: 10px;

        @media(max-width: 959px){
            text-align: center !important;
	    }
	}

		&__detail{
            text-align: center;
            color: @light;
            font-size: @font-size--h3;
            text-decoration: none;
            margin-top: 45px;
            display: inline-block;
            background-color: @accentButton;
            padding: 15px 55px;
            text-transform: uppercase;
            font-weight: 200;

            &:hover{
                background-color: darken(@accentButton, 10%) !important;
                transition: .235s ease-in;
                color: @light;
                text-decoration: none;
            }
	}

	&__content{
        width: 95%;
        margin: 0 auto;
        display: block;

		p{
			font-size: 1.25rem;
			line-height: 1.5;
            padding-left: 1rem;

			@media(min-width: 960px){
				font-size: 1.3rem;
                padding-left: 0;
			}
		}
	}
}
