- load cms_tags

section.b-about
    .b-about__inner
        .b-about__content
            //- .b-about__title=instance.title
            span.b-about__text
                - if instance.child_plugin_instances
                    - for plugin in instance.child_plugin_instances
                        - render_plugin plugin
            span: a.b-about__detail(href="#company") О компании
