- include '_typography/typography.pug'

//- block b-header
- include '_blocks/b-header/b-header.pug'

//- block b-promo-slider
- include '_blocks/b-promo-slider/b-promo-slider.pug'

//- block b-menu
- include '_blocks/b-menu/b-menu.pug'

//- block b-feautures
- include '_blocks/b-feautures/b-feautures.pug'

//- block b-text-block
- include '_blocks/b-text-block/b-text-block.pug'

//- block b-photo
- include '_blocks/b-photo/b-photo.pug'

//- block b-about
- include '_blocks/b-about/b-about.pug'

//- block b-editor-block
- include '_blocks/b-editor-block/b-editor-block.pug'

//- block b-page-title
- include '_blocks/b-page-title/b-page-title.pug'

//- block b-partners
- include '_blocks/b-partners/b-partners.pug'

//- block b-timeline
- include '_blocks/b-timeline/b-timeline.pug'

//- block b-history
- include '_blocks/b-history/b-history.pug'

//- block b-advantages
- include '_blocks/b-advantages/b-advantages.pug'

//- block b-footer
- include '_blocks/b-footer/b-footer.pug'

//- block b-clients
- include '_blocks/b-clients/b-clients.pug'

//- block b-customers
- include '_blocks/b-customers/b-customers.pug'

//- block b-license
- include '_blocks/b-license/b-license.pug'

//- block b-call-modal
- include '_blocks/b-call-modal/b-call-modal.pug'

//- block b-call-to-us
- include '_blocks/b-call-to-us/b-call-to-us.pug'

//- block b-projects
- include '_blocks/b-projects/b-projects.pug'

//- block b-team
- include '_blocks/b-team/b-team.pug'

//- block b-block 
- include '_blocks/b-block/b-block.pug' 

//- block b-project 
- include '_blocks/b-project/b-project.pug' 

//- block b-rating 
- include '_blocks/b-rating/b-rating.pug' 
