
.b-menu{
	.centered();
    background-color: @light;
    outline: none !important;

	@media(max-width: 960px){
        padding-bottom: 0;
        position: absolute;
        top: 4px;
	}

	&__inner{
		.inner();
		align-items: flex-start;
        position: relative;

        @media(min-width: 959px){
           padding: 0;
        }

		// @media(max-width: 1139px){
		// 	flex-direction: column;
		// }
	}

	&__title{
		.title();
	}

	&__brand{
        position: absolute;
        right: 0;
        padding: 1.2rem 0;
        background-color: @brand;
        padding-left: 2rem;
        padding-right: 2rem;
        color: @light;
        text-transform: uppercase;
        font-size: 1.15rem;

        a{
            color: inherit;
            text-decoration: none !important;
            letter-spacing: .8px;
        }

        img{
            width: auto !important;
            height: 100% !important;
            max-width: 100% !important;
        }

		@media(max-width: 960px){

		}
	}

	&__toggle{
		transform: rotate(90deg);
		font-size: 2rem;
		margin-top: 0rem;
		margin-bottom: 0rem;
		outline: none !important;
		border: none;
		background-color: transparent;
        padding: 2rem;
        z-index: 2000;
        transition: ease-out .235s;
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 10px;
        width: 30px;
        height: 45px;
        display: inline-block;
        text-align: center;

        &.fixed{
            top: 0;
        }
        &.active{

            transition: ease-in .235s;
        }

		@media(min-width: 960px){
		    display: none;
        }
        @media(max-width: 959px){
           padding: 0;
        }
	}

	&__list{
        padding-left: 0;
		justify-content: center;
		flex: 1;
        align-items: center;
        width: 100%;
        display: flex;

		@media(max-width: 960px){
			display: none;
			flex-direction: column;
			text-align: center;
			align-items: center;
			margin-left: 0;
			margin-right: 0;
		}

		&.active{
			display: flex;
			justify-content: space-around;
            height: 100vh;
            padding-top: 15vh;
            padding-bottom: 25vh;
            width: 100vw;
            position: fixed;
            top: -10px;
            left: 0;
            z-index: 1000;
            background-color: rgba(255,255,255,.95);
		}
	}

	&__item{
		position: relative;
        float: left;
        margin-right: 4rem;

        @media(max-width: @screen-md){
            width: 100%;
        }

        &.active{
            display: flex;
            flex-direction: column;

            .dropdown-menu{

                li{
                    width: 100%;
                    padding-top: 0;
                    a{
                        color: #000 ;
                    }
                }
            }
        }

        .dropdown-menu{
            @media(max-width: @screen-md){
                position: relative !important;
                float: none !important;
                display: block !important;
                text-align: center !important;
                right: 0 !important;
                width: 80% !important;
                margin: auto !important;
                border: none  !important;
                box-shadow: none !important;
                margin-top: 5px !important;

                li{
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
            &.active{
                display: block !important;
                padding-top: 0;
                padding-bottom: 0;

                li{
                    a{
                        padding-top: 15px;
                        padding-bottom: 15px;

                        &:hover{
                            background: @accentButton !important;
                            color: @light;
                        }
                    }
                }
            }
        }

        &:last-child{
            margin-right: 0rem;
        }


        @media(max-width: 959px){
            margin-right: 0;
		}
        @media(min-width: 960px){
            margin-bottom: 0;
            padding-top: 4px;
        }

        &.active a{
            color: #F18141;
            transition: ease-in .235s;
        }

		a{
			text-decoration: none;
			color: #444444;
			text-transform: uppercase;
            font-size: @font-size--default;
            transition: ease-out .235s;

            &:hover,
            &:active{
                color: #F18141;
                transition: ease-in .235s;
                font-weight: 400;
            }
		}

		.fa{
			font-size: 1rem;
			position: relative;
			top: -1px;
		}
	}

}
