- load menu_tags staticfiles

nav.b-menu
    .b-menu__inner
        button.b-menu__toggle |||
        ul.b-menu__list
            li.b-menu__item
                a(href="/#company", title="О компании") О компании
            for child in children
                li.b-menu__item(class="{% if child.selected %}active{% endif %}")
                    if child.children
                        a.dropdown-toggle(class="{% if child.selected or child.ancestor %}{% endif %}", data-toggle="dropdown", href='{{ child.attr.redirect_url|default:child.get_absolute_url }}', menu-toggle)
                            {{ child.get_menu_title }}
                            span.fa.fa-chevron-down
                        ul.dropdown-menu(menu-list)
                            for ch in child.children
                                li.b-menu__item(role='menuitem', menu-toggle)
                                    a(href='{{ ch.attr.redirect_url|default:ch.get_absolute_url }}') {{ ch.get_menu_title }}

                    else
                        a(href="{{ child.attr.redirect_url|default:child.get_absolute_url }}", title="{{ child.get_menu_title }}") {{ child.get_menu_title }}


