- load cms_tags

.b-block(class="{% if instance.css_add%}{{instance.css_add}} {% endif %}{% if instance.light%}b-block--light {% endif %}", style="{% if instance.color%}background: {{instance.color}};{% endif %}{% if instance.image%}background: url(/media/{{instance.image}}) no-repeat; background-size: cover; {% endif %}{% if instance.padding%}padding: {{instance.padding}}px 0;{% endif %}")
    div(class="{% if instance.width%}container {% endif %}{% if not instance.width%}container-fluid {% endif %}")
        - if instance.child_plugin_instances
            - for plugin in instance.child_plugin_instances
                - render_plugin plugin

