- load thumbnail staticfiles

.b-history
    .b-history__inner
        .b-history__content
            for item in instance.historyslide_set.all
                .b-history__item
                    .b-history__card
                        .b-history__pic
                            img(src="{% thumbnail item.image 1920x1080 %}")
                        a(href=item.link).b-history__title=item.title
                                //- p.b-history__card-text=item.link

                            //- .b-history__pic(style="background: url('{% thumbnail item.image 1920x1080 %}'); background-position: bottom !important;")
