.b-history{
	.centered();
	background-color: @lightmuted;
	position: relative;
	padding-left: 5.8rem;
	padding-right: 5.8rem;

	&__inner{
        .inner();
	}

    &__content{
        display: flex;
        flex-direction: row;
        margin-top: -8%;
        z-index: 10000 !important;
    }

	&__item{
		outline: none !important;
        background-color: @light;
        flex: 1;
        padding: 30px 15px;
        margin-right: 3px;

        &:last-child{
            margin-right: 0;
        }
	}

	&__card{
		background-color: @light;
		color: @darkest;
		line-height: 1.75;
		font-size: @font-size--h3;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
	}

    &__title{
        color: @brand;
        font-weight: 700;
        line-height: 1.2;
    }

	&__pic{
        width: 75px;
        margin-bottom: 25px;

		img{
		    width: 100%;
			height: 100%;
			max-width: 100%;

		}
	}
}

