.b-feautures{
	.centered();
	padding-bottom: 1rem;
    padding-top: 2rem;
    position: relative;

	&__inner{
		// .inner();
        position: relative;
        // max-width: 1170px !important;
	}

	&__title{
		.title();
	}

	&__list{
        padding-left: 0;
	}

	&__item{
        padding-left: 5px;
		margin-bottom: 5rem;
		letter-spacing: 0.5px;
        list-style-type: none !important;
        padding: 25px;

		&-title{
			font-size: @font-size--h1;
			margin-bottom: 2.5rem;
			color: @darken;
            font-family: Georgia;
            text-align: center;
		}

		&__text{
            color: @gray;
            display: inline-block;
            text-align: center;
            line-height: 1.5;
            font-size: 1.37rem !important;
		}
	}
}
