section.b-feautures#company
    .b-feautures__inner.container
        .b-feautures__title История компании

        ul.b-feautures__list.row
                for item in instance.activityitem_set.all
                    li.b-feautures__item.col-xs-12.col-sm-6.col-md-4(data-feautures-item)
                        .b-feautures__item-title(data-feautures-title)=item.title
                        span.b-feautures__item-text=item.description
