!!! 5
html.no-js(lang="ru", data-ng-app="shopApp")
    - load compress staticfiles cms_tags sekizai_tags default_settings_tags menu_tags i18n
    - load render_bundle from webpack_loader
    - get_current_language as LANGUAGE_CODE

    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

        title
            block page_title
                - page_attribute "page_title"

        meta(name="description", content="{% block meta_description %}{% endblock %}")
        meta(name="author", content="{% block meta_author %}{% endblock %}")

        - include '_layouts/favicons.pug'

        block og
            meta(property="article:publisher", content="")

            meta(property="og:type", content="website")
            meta(property="og:url", content="http://{{ request.get_host }}{{ request.path }}")

            meta(property="og:title", content="УК Кравт Инвест")
            meta(property="og:description", content="{{ request.get_host }}")

            if article.photo_background
                meta(property="og:image", content="{{ article.photo_background.url }}")

            meta(property="og:site_name", content="")
            meta(property="og:locale", content="ru_RU")

            meta(name="twitter:domain", content="{{ request.get_host }}")
            meta(name="twitter:description", content="{{ request.get_host }}")

            meta(name="twitter:title", content="УК Кравт Инвест")

        link(href="https://fonts.googleapis.com/css?family=Gill+Sans:400,700&amp;subset=cyrillic", rel='stylesheet')

        block background_image

        block css

        script(src="https://use.fontawesome.com/5077307567.js")

        - render_bundle 'bundle' 'css'

        - render_block "css"

        block remote_js

        // if IE
            meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
            meta(http-equiv="cleartype", content="on")

        // if lt IE 9
            script(src="{% static 'js/libs/respond.src.js' %}")

    body(class="{% block body_class %}{% endblock %}")
        - cms_toolbar

        block content

        - include '_blocks/b-footer/b-footer.pug'
        - include '_blocks/b-call-modal/b-call-modal.pug'

        block modal

        - render_bundle 'vendor' 'js'
        - render_bundle 'bundle' 'js'

        block js

        - render_block "js"
        {% static_placeholder "metrics" %}
