- load thumbnail

.b-license
    .b-license__inner
        .b-license__title {{title}}
        .b-license__list
            for item in object_list
                a.b-license__item(
                    href="{% thumbnail item.image 1000x1000 %}",
                    title="{{ item.name }}",
                    data-lightbox="{{ item.group}}",
                    class="{% ifchanged item.group %}{% else %}hidden{% endifchanged %}")
                    - ifchanged item.group
                        img(src="{% thumbnail item.image 375x530 %}", alt="{{ item.title }}")
