.b-license{
	.centered();

	&__inner{
		.inner();
	}

	&__title{
		.title();
	}

    &__list{
        .make-row();
        margin-bottom: 4rem;

        @media(min-width: 960px){
            margin-bottom: 5rem;
        }
    }

    &__item{
        .make-md-column(4);
        .make-xs-column(12);
        margin-bottom: 2rem;

        @media(min-width: 960px){
            margin-bottom: 3rem;
        }

        img{
            width: auto !important;
            height: auto !important;
            max-height: 100%;
            max-width: 100%;
        }
    }

}

.lb-container{
    height: 100%;
}
.lb-outerContainer{
    width: 86vw !important;

   @media(min-width: 960px){
        width: 750px !important;
        min-height: 530px !important;
   }

    img{
        width: 100% !important;
        height: auto !important;
        max-height: 100%;
        max-width: 100%;
    }
}
