- load staticfiles thumbnail

.b-projects
    .b-projects__inner
        if title
            .b-projects__title=title

        ul.b-projects__list.col-md-12(data-project-carousel)
            for item in object_list
                li.b-projects__item.col-md-4.text-left
                    a(href=item.url)
                        .b-projects__item-pic
                            img(src="{% thumbnail item.image 360x250 %}")

                        p.b-projects__item-name=item.title
                        p.b-projects__item-description=item.description
