.b-projects{
	// .centered();

	// &__inner{
	// 	// .inner();
	// }

	&__title{
		.title();
    }

    &__list{
        margin: 0 auto;
        display: block;
        float: none;
        position: relative;
        text-align: center !important;

         @media(max-width: 768px){
            padding-left: 20px !important;
        }
    }

    &__item{
        a{
            color: #000;
            text-decoration: none !important;
        }

        &:hover{
            a{
                color: @accentButton !important;
            }
        }

        &-name{
            font-weight: 600;
        }

        &-pic{
            height: 240px;

            img{
                object-fit: cover;
            }
        }

        &-description{
            max-width: 300px;
            color: #6C6C6C;
        }
    }

    .slick-prev{
        left: 18px;
        background: url("./arrow-projects-prev.svg"), @light;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;

        @media(min-width: 768px){
            left: -70px;
        }

        &:hover{
            background: url("./arrow-projects-prev.svg"), @light;
            opacity: .8;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

	.slick-next{
        right: 18px;
        background: url("./arrow-projects-next.svg"), @light;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;

        @media(min-width: 768px){
            right: -70px;
        }

        &:hover{
            background: url("./arrow-projects-next.svg"), @light;
            opacity: .8;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .slick-prev,
	.slick-next{
        position: absolute;
        top: 40%;

		&:before{
   			background: transparent !important;
			color: transparent !important;
        }
	}

}
