- load cms_tags thumbnail

.slide(style="background: url('{% thumbnail instance.image 1920x1080 %}');")
    if top and instance.title
        .slide__data
            p.slide__data-title: {{instance.title|default_if_none:""}}
            span.slide__data-description: {{instance.description|default_if_none:""}}
