- load thumbnail cms_tags

section.b-photo
    .b-photo__inner
        .b-photo__title Фотогалерея
        .b-photo__content.b-photo__content--top
            .b-photo__list#photo-carousel
                - if instance.child_plugin_instances
                    - for plugin in instance.child_plugin_instances
                        - with top="true"
                            - render_plugin plugin

        .b-photo__content.b-photo__content--wide
            div.b-photo__list#photo-carousel-second
                - if instance.child_plugin_instances
                    - for plugin in instance.child_plugin_instances
                        - render_plugin plugin

        .b-photo__content.b-photo__content--full
            div.b-photo__list#photo-carousel-third
                - if instance.child_plugin_instances
                    - for plugin in instance.child_plugin_instances
                        - render_plugin plugin
