.b-photo{
	.centered();
    padding-bottom: 15rem;
    margin-left: -20px;

	@media(max-width: 767px){
		padding-bottom: 0;
	}

	&__inner{
		.inner();
        align-items: center;
        padding-right: 0;
        // padding-left: 15px;
	}

	&__title{
		.title();
	}

	&__list{
		// max-width: 500px;
		// display: block;
		// margin: 0 auto;

		// .inner();
	}
	// &__pic{
	// 	width: 20rem;
	// 	height: auto;
	// }

	&__item{
		display: flex !important;
		align-items: center;
		outline: none !important;
		.centered();
	}

	&__card{
		background-color: @light;
		width: 47rem;
		padding-left: 5rem;
		padding-right: 3.8rem;
		padding-top: 5rem;
		padding-bottom: 5rem;
		color: @darkest;
		line-height: 1.75;
		font-size: @font-size--h3;
		margin-right: -5rem;
		z-index: 100;

		&-title{
			font-size: @font-size--h2;
			line-height: 1.04;
			padding-bottom: 0.05rem !important;
		}

	}
		&__pic{
			max-width: 57rem;
			max-height: 42.5rem;

			img{
				width: 100%;
				height: 100%;
				max-width: 100%;
			}
		}

	&__content {
		display: block;
		margin: 0 auto;
		max-width: 640px;
		width: 100vw;

        @media(max-width: 767px){
		    // margin-left: -15px;
		}

        .slide{
            position: relative;

            &__data{
                color: @light;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background: rgba(39, 39, 39, 0.31);
                height: 100%;
                padding-left: 4rem;
                padding-right: 4rem;
                padding-top: 3rem;
                padding-bottom: 3rem;

                &-title{
                    font-size: @font-size--h2;
                    padding-bottom: 2rem;
                }

                &-description{
                    font-size: @font-size--h3;
                }
            }
        }

		&--top{
			z-index: 5;
            height: 480px;

            .slide{
                height: 480px;
            }

            .b-photo__list{
                box-shadow: 1px 1px 20px rgba(0, 0, 0, .92);

                @media(max-width: 959px){
                    box-shadow: none;
                }
            }
		}

		&--wide{
			max-width: 1120px;
			z-index: -1;
			position: absolute;
            height: 420px;
			margin-top: 14.2rem;

            .slide{
                height: 420px;
            }

			@media(max-width: 767px){
				display: none;
			}
		}

		&--full{
			max-width: 100vw;
			z-index: -2;
			position: absolute;
			margin: auto;
			margin-top: 19.5rem;
            height: 315px;

            .slide{
                height: 315px;
            }

			@media(max-width: 767px){
				display: none;
			}
		}

		.slide{
			width: 100%;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-position: center !important;
			display: block;
			margin: 0 auto;
		}
	}


	.slick-prev,
	.slick-next{
		border-radius: 50%;
		width: 40px;
        height: 40px;
        z-index: 10;
        padding: 0;
        margin: 0;

		&:before{
   			background: transparent !important;
			color: transparent !important;
        }
	}

	.slick-prev{
        left: 20px;
        background: url("./arrow-photo-prev.svg"), @light;
        background-position: -9px -6px;

        @media(min-width: 768px){
            left: -20px;
        }

        &:hover{
            background: url("./arrow-photo-prev.svg"), @light;
            background-position: -9px -6px;
            opacity: .8;
        }
    }

	.slick-next{
        right: 20px;
        background: url("./arrow-photo-next.svg"), @light;
        background-position: -8px -6px;

        @media(min-width: 768px){
            right: -20px;
        }

        &:hover{
            background: url("./arrow-photo-next.svg"), @light;
            background-position: -8px -6px;
            opacity: .8;
        }
    }
}
