- load thumbnail cms_tags

section.b-photo
    .b-photo__inner
        .b-photo__title Фотогалерея
        .b-photo__content.b-photo__content--top
            .b-photo__list#photo-carousel
                for item in object_list
                    .slide(style="background: url('{% thumbnail item.image 1920x1080 %}');")
                        .slide__data
                            p.slide__data-title: {{item.title|default_if_none:""}}
                            span.slide__data-description: {{item.description|default_if_none:""}}

        .b-photo__content.b-photo__content--wide
            div.b-photo__list#photo-carousel-second
                for item in object_list
                    .slide(style="background: url('{% thumbnail item.image 1920x1080 %}');")

        .b-photo__content.b-photo__content--full
            div.b-photo__list#photo-carousel-third
                for item in object_list
                    .slide(style="background: url('{% thumbnail item.image 1920x1080 %}');")
