.typography
	.typography__inner
		.typography__title typography
		h1.h1 h1 headings
		h2.h2 h2 headings
		h3.h3 h3 headings
		h4.h4 h4 headings
		h5.h5 h5 headings
		h6.h6 h6 headings

		p.p p content
		