@brand: #006fb7;
@brandLogo: #FF1E00;
@dark: #4e5665;
@darkest: #404040;
@darken: #3d4452;
@gray: #3f3f3f;
@light: #ffffff;
@lightmuted: #f0f0f0;
@accentButton: #F18041;

@font-family:                 'Gill Sans', 'Helvetica Neue', 'Arial', sans-serif !important;
@font-family--headings:       @font-family !important;
@font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace !important;

@step: 10px;
@font-size--h1:               3.2rem !important;    //32px h1
@font-size--h2:               2.4rem !important;    //24px h2
@font-size--h3:               1.6rem !important;    //16px h3
@font-size--h4:               1.4rem !important;    //14px h4
@font-size--default:          @font-size--h4;       // default text
@font-size--btn:         	    @font-size--default;  // btn text size
@font-size--h5:               1.2rem !important;    // nothing to do here
@font-size--h6:               1.1rem !important;    // nothing to do here
@font-size--small:            0.75em !important;    // nothing to do here


@line-height:                 1.375em !important;

@text-color:                  hsl(255, 0%, 10%);
@border-color:                hsl(0, 0%, 60%);

@screen-sm:                   480px !important;

@border-radius:               0px !important;

// @font-face {
//   font-family: 'Gill Sans';
//   src: url('../fonts/GillSans.woff2') format('woff2'),
//        url('../fonts/GillSans.woff') format('woff'),
//        url('../fonts/GillSans.ttf')  format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

html{

  @media(min-width: 320px){
	  font-size: (@step*0.33);
  }
  @media(min-width: 768px){
	  font-size: (@step*0.6);
  }
  @media(min-width: 960px){
	  font-size: (@step*0.8);
  }
  @media(min-width: 1140px){
	  font-size: (@step*1);
  }
}

body {
  font-family: @font-family;
  font-size: @font-size--default;
  line-height: @line-height;
  color: @text-color;
}

.h1,
h1 {
  font-size: @font-size--h1;
}

.h2,
h2 {
  font-size: @font-size--h2;
}

.h3,
h3 {
  font-size: @font-size--h3;
}

.h4,
h4 {
  font-size: @font-size--h4;
}

.h5,
h5 {
  font-size: @font-size--h5;
}

.h6,
h6 {
  font-size: @font-size--h6;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-family--headings;
  font-weight: 700;
  line-height: 1.4;
  color: currentColor;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: (@line-height / 2);
  margin-bottom: (@line-height / 2);
}

img{
	width: 100%;
	height: 100%;
	max-width: 100%;
}

.btn{
	background-color: @brand;
	color: @light;
	text-decoration: none;
	padding: 1.5rem 4.5rem;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
  list-style: none;
}

.content__page li{
    list-style: square;
    margin-left: 2rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: @screen-sm) {
    margin-left: 1.8em;
  }

  & + dt {
    margin-top: (@line-height / 2);
  }
}

hr {
  margin-top: @line-height;
  margin-bottom: 48px !important;
  border: 0;
  border-top: 1px solid @border-color;
}

.small,
small {
  font-size: @font-size--small;
}

sub,
sup {
  font-size: 70%;
}

.mark,
mark {
  background: #fcf8e3;
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  border-bottom: 1px dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

section{
	padding-top: 10rem;
	padding-bottom: 10rem;
}

article{
	padding-top: 2.5rem;
	padding-bottom: 10rem;
}

.title{
	.h1();
	position: relative;
	text-align: center;
	padding-bottom: 4.5rem;
	font-weight: 400;
    color: @dark;
    line-height: 1.2;
    margin-top: 0 !important;
    padding-top: 2rem !important;
}

.title--mark{
  font-size: 5rem;
  letter-spacing: 1.6;
  font-weight: 100;
  line-height: 1.2;
}

.slick{
	&-prev,
	&-next{

		&:before{
			color: #079bd9 !important;
			font-family: fontawesome !important;
      font-size: 5.2rem !important;
		}
		position: absolute;
		z-index: 100;
	}

	&-prev{
		&:before{
      content: "\f104" !important;
    }
	}

	&-next{
   		&:before{
        content: "\f105" !important;
      }
	}
}
