.b-editor-block
		if about
			.b-editor-block__inner.b-editor-block__inner--about
				.b-editor-block__text
					.b-editor-block__title {{title}}
					.b-editor-block__content {{content}}
				.b-editor-block__images
					.b-editor-block__pic
						img(src="http://placehold.it/270x400")
					
					.b-editor-block__pic
						img(src="http://placehold.it/270x400")
		
		if certificate
			.b-editor-block__inner
				.b-editor-block__text
					.b-editor-block__title {{title}}
					.b-editor-block__content {{content}}


				ul.b-editor-block__certificates
						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")
							
						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")

						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")

						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")

						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")
				
				br
				br
				br
				.b-editor-block__text
					.b-editor-block__content {{content}}
				br
				ul.b-editor-block__certificates
						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")
							
						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")

						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")

						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")

						li.b-editor-block__certificates-item
							img(src="http://placehold.it/180x250")