.b-editor-block{
	.centered();
	padding-top: 5rem;
	padding-bottom: 9rem;

	&__inner{
		.inner();

		&--about{
			flex-direction: row;
		}
	}

	&__title{
		.title();
	}

	&__text{
		flex: 3;
		margin-left: 5.5rem;
		
	}

	&__pic{
		width: 27rem;
		height: auto;
		flex: 1;
		padding-left: 3rem;
		box-sizing: border-box;
		margin-bottom: 5rem;
	}

	&__certificates{
		display: flex;
		justify-content: space-between;
		padding-top: 5rem;

		&-item{
			width: 18rem;
			height: 25rem;
		}
	}
}