.b-header{
	.centered();
	padding-bottom: 2.2rem;
    padding: 25px;
    background: @light;
    transition: height .35s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0;
    height: 200px;

    @media(max-width: @screen-md){
        height: 320px;
        transition: height .1s;
    }

    &--small{
        height: 40px;
        transition: height .1s;

        @media(min-width: @screen-md){
            height: 80px;
            transition: height .35s;

            .b-header__inner{
                flex-direction: row;
            }
            .b-header__list{
                width: 48%;
            }
        }

        .b-header__logo{
            width: @step * 2.5;
            transition: width .235s;

            &--second{
                width: @step * 14 !important;
            }

            @media(min-width: @screen-md){
                width: @step * 6;
            }
        }
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction: column;

        @media(min-width: @screen-md){
            flex-direction: row;
        }
    }

	&__inner{
		.inner();
        // flex-direction: row;
        justify-content: space-between;
		align-items: center;

		@media(max-width: 960px){
			flex-direction: column-reverse;
		}
	}

	&__logo{
        width: @step * 14;
        height: auto;
        transition: width .235s;

        &--second{
            width: @step * 23;
        }

        &:before,
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &:before{
            border-left: 10px solid #fff;
            left: -9px;
        }
        &:after{
            border-right: 10px solid #fff;
            right: -9px;
        }

        @media(max-width: 960px){
            order: 1;
        }

        img,
        svg{
            width: 100%;
            height: auto;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        &-text{
            margin-left: 20px;
            color: @light;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
            width: 80px;
            height: 50px;
            color: #ffffff;
            font-family: "Gill Sans";
            font-size: 19px;
            font-weight: 400;
            letter-spacing: 1.5px;
            line-height: 1.4;
            margin-top: -5px;
        }
    }

    &__adress{
        @media(min-width: @screen-md){
            text-align: left;
        }
        @media(max-width: @screen-md){
            display: none;
        }

        &--phone{

            @media(max-width: 960px){
                text-align: center;
                order: 3;
                display: flex;
                flex-direction: column;
            }
        }
        &--street{
            text-align: right;

            @media(max-width: 960px){
                text-align: center;
                order: 2;
            }
        }

    }

    &__action{
        border: 2px solid #F18141;
        padding: 10px 50px;
        margin-top: 15px;
        display: inline-block;
        text-transform: uppercase;
        color: @darkest !important;
        font-size: 13px;
        text-decoration: none !important;
        font-weight: 700;
        letter-spacing: 1.8px;

        &:hover{
            background-color: #F18141;
            color: @light !important;
            transition: all 0.235s ease-in-out;
        }

        &.fixed{
            position: fixed;
            bottom: 0;
            margin: 15px;
            left: 0;
            right: 0;
            z-index: 1001;
        }

        @media(max-width: 959px){
            order: 1;
        }
    }
	&__contacts{
		font-size: 2rem;
		text-decoration: none;
		color: @light;
		letter-spacing: 0.7px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: .25rem;

        &-item{
            padding-right: 45px;
            padding-left: 60px;

            &:before,
            &:after{
                content: "";
                position: absolute;

           }

           &:before{
                width: 25px;
                height: 25px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: #ffae08;
                left: 20px;
                border-radius: 50%;
           }

           &:after{
                width: 16px;
                height: 53px;
                border-left: 1px solid #0096d5;
                top: 0px;
                left: 0px;
                transform: rotate(20deg);
           }

        }

        @media(max-width: 960px){
            width: 98%;
            justify-content: space-between;
        }

		a{
			color: inherit;
			text-decoration: none;
			line-height: 2rem;

			@media(min-width: 960px){
				display: block;
				padding-top: 0;
			}
		}

		@media(min-width: 960px){
				display: block;
		}
	}

	&__mail{
		font-size: 1.15rem;
		letter-spacing: 0.5px;
		order: 0;
		margin-top: 1rem;
        display: inline-block;
        white-space: normal;
        line-height: 1.5;
        color: #000;

        a{
            color: inherit !important;
            text-decoration: none !important;
        }

		@media(min-width: 960px){
			display: block;
			margin-top: .3rem;
			margin-right: 0;
            font-size: 1.2rem;
            white-space: normal;
            line-height: .75;
		}
	}

	&__phone{
		order: 1;
		font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: 1.2px;
        color: #000;

        a{
            text-decoration: none !important;
            color: inherit !important;
        }

		@media(max-width: 960px){
			font-size: 1.2rem;
			margin-top: 1rem;
		}
	}
}


body{
    margin-top: 40px;

    @media(min-width: @screen-md){
        margin-top: 200px;
    }
}
