- load staticfiles cms_tags menu_tags
header.b-header(class="{% if request.user_agent.is_mobile %}b-header--small{% endif %}")
    .b-header__inner
        .b-header__list
            .b-header__adress
                .b-header__adress-item.b-header__adress--phone
                    .b-header__mail.b-header__item
                        - static_placeholder 'phone'
                        - static_placeholder 'time'

            a.b-header__logo.b-header__item(href="/")
                img(src="{% static 'img/logo.svg' %}" , alt="Kravt Invest", width="150")
            a.b-header__logo.b-header__logo--second.b-header__item(href="/")
                img(src="{% static 'img/logo-kr.svg' %}" , alt="УК Кравт Инвест", height="150")

            .b-header__adress.b-header__adress--street
                .b-header__adress-item
                    .b-header__mail.b-header__item: - static_placeholder 'adress'
        .b-header__some
            - show_menu 0 100 100 100 '_blocks/b-menu/b-menu.pug'
