.b-project {

	&__inner {
		.inner();
	}

	&__title {
		.title();
    }

    &__list{
        margin-top: 50px;
    }

    &__rating{
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem !important;
        color: @accentButton;

        @media(min-width: @screen-md){
            margin-left: 15px;
        }
    }

    &__item{
        margin-top: 5px;

        &-pic{
            height: 390px;
            margin-bottom: 30px;
            display: inline-block;

            &--half{
                height: 46% !important;

                &:first-child{
                    margin-bottom: 6%;
                }
            }

            &--full{
                // height: 300px;
                // margin-top: 20px;
                // margin-bottom: 5px;
            }

            img{
                object-fit: cover;
                font-family: 'object-fit: cover;'
            }
        }
    }

    &__text{
        &-data{
            font-size: 18px;
            line-height: 1.4;
            margin-top: 10px;
        }
        &-accent{
            color: @accentButton;
        }
    }
}
