mixin item(name, star, area, teaser, text, link, tag, gallery)
    .b-project__item.row(id="#{tag}")
        .col-xs-12.col-md-7
            a(href='/static/img/#{tag}/01.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic
                img(src='/static/img/#{tag}/01.jpg', alt=name)
        .col-xs-12.col-md-5
            span.b-project__title=name
                span.b-project__text
                    span.b-project__rating
                        input(
                            type="number",
                            name="rating",
                            class="rating",
                            value=star,
                            data-readonly
                        )
            p.b-project__text-title
                span.b-project__text-accent Отель #{star}* &nbsp;
                span.b-project__text-content #{area} м<sup>2</sup>, #{teaser}
            p.b-project__text-data=text
            if link
                p
                    a(href=link, target="_blank") #{link}

        if gallery
            a(href='/static/img/#{tag}/05.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12
                img(src="/static/img/#{tag}/05.jpg", alt=name)

            a(href='/static/img/#{tag}/02.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-6
                img(src="/static/img/#{tag}/02.jpg", alt=name)

            a(href='/static/img/#{tag}/04.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-2
                img(src="/static/img/#{tag}/04.jpg", alt=name)

            a(href='/static/img/#{tag}/06.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-2
                img(src="/static/img/#{tag}/06.jpg", alt=name)

            a(href='/static/img/#{tag}/07.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-2
                img(src="/static/img/#{tag}/07.jpg", alt=name)

            a(href='/static/img/#{tag}/08.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-7
                img(src="/static/img/#{tag}/08.jpg", alt=name)


            .b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-5
                a(href='/static/img/#{tag}/12.jpg', data-fancybox="#{tag}", data-caption=name)
                    img(src="/static/img/#{tag}/12.jpg", alt=name).b-project__item-pic--half
                a(href='/static/img/#{tag}/03.jpg', data-fancybox="#{tag}", data-caption=name)
                    img(src="/static/img/#{tag}/03.jpg", alt=name).b-project__item-pic--half


            a(href='/static/img/#{tag}/09.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12
                img(src="/static/img/#{tag}/09.jpg", alt=name)


            a(href='/static/img/#{tag}/12.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-7
                img(src="/static/img/#{tag}/12.jpg", alt=name)


            a(href='/static/img/#{tag}/11.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-5
                img(src="/static/img/#{tag}/11.jpg", alt=name)

            a(href='/static/img/#{tag}/10.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-3
                img(src="/static/img/#{tag}/10.jpg", alt=name)

            a(href='/static/img/#{tag}/13.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-5
                img(src="/static/img/#{tag}/13.jpg", alt=name)

            a(href='/static/img/#{tag}/04.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12.col-md-4
                img(src="/static/img/#{tag}/04.jpg", alt=name)

            a(href='/static/img/#{tag}/14.jpg', data-fancybox="#{tag}", data-caption=name).b-project__item-pic.b-project__item-pic--full.col-xs-12
                img(src="/static/img/#{tag}/14.jpg", alt=name)

.b-project
    .b-project__inner.container
        .b-project__list
            +item('KRAVT HOTEL', '3', '1800', 'Санкт-Петербург, Садовая ул.', 'Kravt — это дизайнерский отель 3* на 54 номера, расположенный в деловом и историческом центре Санкт-Петербурга, на Садовой улице, в пешей доступности от основных туристических достопримечательностей. В отеле Kravt есть номера категорий «сингл», «стандарт», «супериор», «полулюкс» и «люкс»; в каждом номере есть сейф и доступ к Wi-Fi. Предоставляются услуги парковки, прачечной, консьерж-услуги, помощь в выборе экскурсий, визовая поддержка. В отеле есть собственный лобби-бар, где каждое утро накрывается завтра (шведский стол) для постояльцев.', 'http://kravt-hotel.ru/', 'kravt', 'gallery')

            hr

            +item('ALBORA HOTEL', '4', '3200', 'Санкт-Петербург, набережная канала Грибоедова', ' ALBORA HOTEL — это бутик отель 4* , Бутик-отель отель на 29 номеров, 14 из которых оформлены в стиле легендарных балетных постановок Мариинского театра («Щелкунчик», «Лебединое озеро» и так далее); камерный ресторан концептуальной русской кухни; стильная и уютная спа-зона; современный спортивный зал; зона для проведения мероприятий, выставок, встреч.', 'http://alborahotel.ru/', 'butik', 'gallery')

            hr

            +item('Проект "Отель"', '4', '5200', 'Санкт-Петербург, ул. Александра-Невского', 'Семейный отель на 120 номеров со спа-зоной в районе площади Александра Невского — это разрабатывающийся в данный момент компанией Kravt проект 4-звёздочного отеля. Запуск отеля планируется на 2019 год. Отель будет расположен в центральном районе Санкт-Петербурга, в исторически сложившейся бутиковой зоне, традиционном месте для совершения покупок и прогулок состоятельных жителей и гостей города. Из окон отеля будет открываться вид на Александра-Невскую лавру и на Неву.', '', 'nevsky')


