.b-page-title{
	.centered();
	background-color: #eee;
	position: relative;

	&__inner{
		.inner();
	}

	&__title{
		.title();
		padding-top: 15rem !important;
		padding-bottom: 15rem;
		font-size: 5rem !important;
		font-weight: 100;
		color: @light;
		letter-spacing: 0.16rem;
		background-size: cover !important;

        @media(max-width: 1140px){
            font-size: 3.2rem !important;
        }
	}

	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(rgba(98, 189, 247, 0.25), rgba(98, 189, 247, 0.25)), linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) !important;
	}
}
