
if not request.current_page.colorextension.hide
    - load default_settings_tags
    - default_background as default_background_url
    style.
        .b-page-title {
            {% if default_background_url %}background: url({{ default_background_url }) no-repeat center;{% endif %}
            {% if request.current_page.colorextension.image %}background: url({{ request.current_page.colorextension.image.url }}) no-repeat  center;{% endif %}
            {% if request.current_page.colorextension.color %}background-color: {{ request.current_page.colorextension.color }};{% endif %}
            background-size: cover;
        }

.b-page-title
    - include '_layouts/_blocks/b-header/b-header.jade'
    .b-page-title__inner
        .b-page-title__title {{title}}
