- load thumbnail

.swiper-slide.b-promo-slider__item(style="background: url('{% thumbnail instance.image 1920x1080 %}'); background-position: bottom !important;")
    .b-promo-slider__inner
        div.b-promo-slider__content
            if instance.title
                h1.b-promo-slider__title=instance.title
            if instance.description
                a.b-promo-slider__text(href=instance.link)=instance.description
