- load thumbnail cms_tags

.b-promo-slider
    .swiper-contaner.swiper-single
        .swiper-wrapper
            - if instance.child_plugin_instances
                - for plugin in instance.child_plugin_instances
                    - render_plugin plugin

    .swiper-button-next
    .swiper-button-prev
