- load thumbnail

.b-promo-slider
    .swiper-contaner.swiper-single
        .swiper-wrapper
            for item in instance.slide_set.all
                .swiper-slide.b-promo-slider__item(style="background: url('{% thumbnail item.image 1920x1080 %}'); background-position: bottom !important;")

    .swiper-button-next
    .swiper-button-prev
