.b-promo-slider{
    position: relative;

    .swiper-single{
        .b-promo-slider__item:before{
           display: none !important;
        }
    }
    .swiper-container{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .swiper-button-prev,
    .swiper-button-next{
        z-index: 100;
        background-image: url("./arrow.svg");
        width: 45px;
        height: 45px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .swiper-button-prev{
        left: 70px;

        @media(max-width: 769px){
            left: 20px;
        }
    }

    .swiper-button-next{
        right: 86px;
        transform: rotate(180deg);

        @media(max-width: 769px){
            right: 16px;
        }
    }

	&__inner{
		align-items: center;
		height: 100%;
		position: relative;
        text-align: center;
	}

    &__content{
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px 0 25px;
    }

	&__title{
		.title--mark();
		color: @light;
		font-weight: 400;
        line-height: 1.5;
        font-size: 2.8rem !important;

		@media(max-width: 960px){
			font-size: 2rem !important;
		}

		@media(min-width: 960px){
            margin: 0 auto;
            text-align: center;
            display: inline-block;
		}
	}

	&__text{
		display: block;
		line-height: 1.5;
		color: @light !important;
		font-size: 35px !important;
        position: relative;
        text-transform: uppercase;
        margin: 0 !important;
        letter-spacing: 2px;
        text-decoration: none !important;

		@media(max-width: 960px){
			font-size: @font-size--h4;
			font-weight: 100;
		}
	}

	&__list{
		width: 100%;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		position: relative;
		background-position: center;
	}

	&__item{
		height: 60vh !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		position: relative;
		background-position: center !important;

		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(rgba(98, 189, 247, 0.15), rgba(98, 189, 247, 0.15)), linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
		}

		@media(min-width: 960px){
			background-position: center !important;
		}
	}
}
