- load thumbnail

section.b-partners
    .b-partners__inner
        .b-partners__title Партнеры
        ul.b-partners__list(data-partners-carousel)
            for item in object_list
                li.b-partners-item
                    a.b-partners-link(href="{{ item.url|default:'#' }}")
                        img(src="{% thumbnail item.image 125x125 %}", alt="{{ item.title }}")



