.b-partners{
	.centered();
	background-color: #f8f8f8;
    padding-bottom: 10rem !important;

	&__inner{
		max-width: 100% !important;
		padding-left: 0;
		padding-right: 0;

		@media(min-width: 960px){
			padding-left: 8.8rem;
			padding-right: 8.8rem;
		}
	}

	&__title{
		.title();
		padding-bottom: 50px;
	}

	&__list{
		position: relative;
	}

	&__item{
		text-align: center;
		outline: none !important;

		img{
			display: inline-block !important;
			width: auto !important;
			height: auto !important;
			max-width: 100% !important;
		}
	}

	.slick-slide {
    	margin: 0px;
        text-align: center !important;
        min-height: 60px !important;
        display: inline-flex!important;
        flex-direction: column;
        justify-content: center;
        align-items: center;


		img{
            display: inline-block !important;
            max-height: 100px !important;
		}
	}

	.slick-list {
		margin: 0px;
	}

    &__link{
        display: table-cell;
        vertical-align: middle;
        height: 100px;
    }
    .slick-prev{
        left: 18px;
        background: url("./arrow-projects-prev.svg"), @light;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;

        @media(min-width: 768px){
            left: 15px;
        }

        @media(min-width: @screen-md){
            left: -50px;
        }

        &:hover{
            background: url("./arrow-projects-prev.svg"), @light;
            opacity: .8;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

	.slick-next{
        right: 18px;
        background: url("./arrow-projects-next.svg"), @light;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;

        @media(min-width: 768px){
            right: 15px;
        }
        @media(min-width: @screen-md){
            right: -50px;
        }

        &:hover{
            background: url("./arrow-projects-next.svg"), @light;
            opacity: .8;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .slick-prev,
	.slick-next{
        position: absolute;
        top: 40%;

		&:before{
   			background: transparent !important;
			color: transparent !important;
        }
	}
}




