.b-call-modal.modal.fade#callModal(tabindex="-1", role="dialog", aria-hidden="true")
    .b-call-modal__inner
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        form#callModalform(action="", method="post", role="form", name="callModalform", data-request-url="")
                            - csrf_token
                            .row
                                .form-group.col-xs-12
                                    label(for="callModalName") Контактное лицо
                                    input#callModalName.form-control(
                                        type="text"
                                        name="name"
                                        placeholder="ФИО"
                                        required
                                    )

                                .form-group.col-xs-12
                                    label(for="callModalPhone") Телефон
                                    input#callModalPhone.form-control(
                                        type="text"
                                        name="phone"
                                        placeholder="+7 (ххх) ххх-хх-хх"
                                        required
                                    )

                                .form-group.text-center
                                    input.btn.btn-primary(
                                        type="submit"
                                        value="Отправить заявку"
                                    )
