.b-call-modal{
    // .centered();
    // text-align: center;
    // padding: 10px 15px;

    &:before{
        content: "";
        // height: 100vh;
        // display: block;
    }

	&__inner{
        // .inner();
        text-align: center;
	}

	&__title{
		// .title();
    }

    .modal-dialog{
        height: 100vh;
        width: 100vw;
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
    }

    .modal-content{
        // padding: 10px 15px;
        text-align: left;
        display: inline-block;
    }
}
