.b-timeline
    .b-timeline__inner
        .b-timeline__title Завершенные объекты и контракты
        .b-timeline__list
            .b-timeline__item.b-time-line__item--history
                .b-timeline__header История
                ul
                    for event in object_list
                        - ifchanged event.date.year
                            li: a.b-timeline__link(
                                data-timeline-year-link="{{ event.date|date:'Y' }}",
                                href="") {{ event.date|date:'Y' }}

            .b-timeline__item.b-time-line__item--content
                .b-timeline__single-year(data-timeline__single-year) &nbsp;
                .b-timeline__cards
                    for event in object_list
                        .b-timeline__single(data-timeline-year="{{ event.date|date:'Y' }}",)
                            .b-timeline__single-title {{ event.title }}
                            .b-timeline__single-content {{ event.description }}
