.b-timeline{
	.centered();

	&__inner{
		.inner();
	}

	&__title{
		.title();
		padding-bottom: 6rem;
		text-align: left;

        @media(max-width: 767px){
            text-align: center !important;
            font-size: 2.7rem !important;
        }
	}

	&__header{
		color: #a3a3a3;
		font-size: @font-size--h6;
		padding-bottom: 1.5rem;
	}

	&__link{
		display: flex;

        &.active{
            font-weight: 800;
        }
	}

	&__list{
		font-size: 0;

        @media(max-width: 767px){
            text-align: center;
        }

        li{
            margin-left: 0 !important;
        }
	}
	&__item{
		font-size: @font-size--default;

        @media(max-width: 767px){
            margin-bottom: 5rem;
        }

		&:first-child{
			display: inline-block;
			width: 25%;
			vertical-align: top;
			text-align: center;
			box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.1);
			border-radius: 5px;
			max-width: 285px;
			background-color: transparent;
			padding-top: 2.5rem;
			padding-bottom: 5rem;

            @media(max-width: 767px){
                padding-bottom: 1rem;
                width: 80%;
            }
		}

		&:nth-child(2){
			display: inline-block;
			width: 75%;
			vertical-align: top;
			padding-left: 5rem;

            @media(max-width: 767px){
                padding-left: 2rem;
                width: 95%;
            }
		}

		ul{
			background-color: @light;
		}

		li{
			display: block;
			text-align: center;
		}
		a{
			display: inline-block;
			line-height: 1.27;
			color: #0094c9;
			text-decoration: none;
			border-bottom: 1px dashed #0094c9;
			margin-bottom: 2rem;

			&:after{
				content: ' г';
			}
		}

	}
	&__item--history{
		box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.1);
		// width: 285px;
		// border: 1px solid #000;
		text-align: center;

	}

	&__cards{
		border-left: .4rem solid @brand;
		padding-left: 5.2rem;
		margin-bottom: 5rem;
		padding-top: 3rem;

        @media(max-width: 767px){
            padding-left: 3.2rem;
            text-align: left;
        }
	}

	&__single{
		padding-bottom: 5rem;
		position: relative;

		&-title{
			font-weight: 700;
			margin-bottom: 1rem;
		}

        &-year{
            text-align: center;
            font-weight: 600;
            color: @brand;
            position: relative;

            @media(max-width: 767px){
                margin-left: -2rem;
            }
        }

		&:before{
			content: "";
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			border: 3px solid @brand;
			left: -6.7rem;
			top: .5rem;
			background-color: @light;
			border-radius: 50%;

            @media(max-width: 767px){
                left: -4.7rem;
            }
		}

	}
}
