.b-footer{
	.centered();
	background-color: @darkest;
    padding: 4.5rem 2rem 3rem;

    img{
        width: auto !important;
    }

    .b-header__logo{
        &:before,
        &:after{
            display: none !important;
        }
    }

	@media(max-width: 960px){
        text-align: center;
        padding: 0px;
        padding-bottom: 30px;
	}

	a{
		color: inherit;
		text-decoration: none;
	}

	&__inner{
		.inner();
	}

    &__adress{
        font-size: 1.2rem;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 300;
        padding-top: 10px;
        max-width: 250px;
        white-space: pre-wrap;
    }

	&__logo{
		width: 13.5rem;
		height: 9rem;
		display: inline-block;
        // margin-bottom: 20px;

		img{
			width: 100%;
			height: 100%;
			max-width: 100%;
		}
	}

	&__title{
		.title();
	}

	&__copyrights{
		text-align: center;
		color: @light;
        padding-top: 15px;
	}

	&__list{
		display: flex;

		@media(max-width: 960px){
			flex-direction: column;
			align-items: center;
			padding-bottom: 0;
		}
	}

    li{
        padding-bottom: 1rem;
    }

	&__item{
		flex: 1;
		color: @light;
        padding-bottom: .8rem;

        @media(max-width: 959px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }

		&-phone{
            text-align: center;
			@media(min-width: @screen-md){
                padding-top: .3rem;
                padding-bottom: 1.2rem;
                text-align: right;
            }
		}

		&--contacts{
            text-align: right;
				a{
					display: block;
				}
		}
	}
}
