- load staticfiles cms_tags menu_tags

.b-footer
    .b-footer__inner
        ul.b-footer__list
            li.b-footer__item
                a.b-header__logo.b-header__item(href="/")
                    img.img-responsive(src="{% static 'img/logo.png' %}" , alt="")
                    span.b-header__logo-text
                p.b-footer__adress: - static_placeholder 'adress'

            li.b-footer__item
                .b-footer__item.b-footer__item-title
                    p {% page_attribute 'menu_title' 'projects' %}

                ul.b-footer__list-inner
                    - show_menu_below_id "projects" 0 0 100 100

            li.b-footer__item.b-footer__item--contacts
                ul.b-footer__list-inner
                    li.b-footer__item
                        span.b-footer__item-phone(href="")
                            - static_placeholder 'phone'

        .b-footer__copyrights © 2017 Все права защищены. "Кравт Инвест".
