- load thumbnail

.b-customers
    .b-customers__inner
        .b-customers__title {{ title }}
        .b-customers__list.row
            for item in object_list
                .col-md-3.col-xs-6.b-customers__item
                    img(src="{% thumbnail item.image 200x75 %}", alt="{{ item.title }}")
