extends '_layouts/base.pug'
- load menu_tags cms_tags

block body_class
  | main page


block content
  - include '_blocks/b-header/b-header.pug'

  - placeholder header

  main
    - placeholder content
