extends '_layouts/base.pug'
- load menu_tags cms_tags

block body_class
  | about page

block content
    - include '_blocks/b-header/b-header.pug'
    //- - show_menu 0 100 100 100 '_blocks/b-menu/b-menu.pug'
    - placeholder header

    main
      .container
        .row
          section.content__page
            .row
                - placeholder content
