extends '_layouts/base.pug'
- load menu_tags cms_tags

block body_class
  | project page


block content
  - include '_blocks/b-header/b-header.pug'

  - placeholder header

  main
    - include '_blocks/b-project/b-project.pug'
    - placeholder content
