.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    max-width: 1200px;
}

body{
    min-width: 320px;
    box-sizing: border-box;
}
