ul{
    padding-left: 0 !important;
  }



  *{
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
  }

  a,
  button,
  input{
    outline: none;
  }

  li{
    list-style-type: none;
  }

  body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  main{
    flex: 1;
  }

  .content__page{
    padding-top: 4rem;
    padding-bottom: 4rem;

    .row{
      @media(max-width: 960px){
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
