.b-team{
	.centered();

	&__inner{
		.inner();
	}

	&__title{
		.title();
    }

    &__list{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item{
        margin-bottom: 50px;
        max-width: 285px;
        margin-left: 35px;
        margin-right: 35px;
        float: none !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 14px;

        &-name{
            color: #4E5665;
            font-size: 24px;
            line-height: 1.5;
        }

        &-text{
            margin-bottom: 15px;
        }

        &-description{
            float: none !important;
            margin: 0 auto !important;
            margin-bottom: 50px;
        }

        &-pic{
            overflow: hidden;
            float: none !important;
            margin: 0 auto;
            margin-bottom: 25px;
            text-align: center;

            img{
                max-width: 100%;
                border-radius: 50%;
                width: 150px;
                height: 140px;
                object-fit: cover;
            }
        }
    }
}
