- load staticfiles thumbnail

.b-team
    .b-team__inner
        .b-team__title=title
        .row
            ul.b-team__list
                for item in object_list
                    li.b-team__item.col-sm-6.col-md-3.col-xs-12.text-center
                        .b-team__item-pic.col-xs-8
                            img(src="{% thumbnail item.image 285x285 %}")

                        .b-team__item-name=item.title
                        .b-team__item-text=item.subtitle
                        .b-team__item-description.col-xs-8=item.description

