.b-text-block{
    padding-top: 5rem;
    padding-bottom: 7rem;

	&__title{
		.title();
		text-align: left !important;
        padding-bottom: 3rem !important;
    }

    &__content{
        margin-left: 5px;
    }

	&--light{
		background-color: @light;
	}
	&--muted{
		background-color: #f8f8f8;
	}
}
