

for item in instance.textblockitem_set.all
    .b-text-block(class="{% if item.muted %}b-text-block--muted{% endif %}")
        .b-text-block__inner(class="{% if item.container %}container{% endif %}")
            .b-text-block__title=item.title
            .b-text-block__content=item.description
